<h2>Results:</h2>

<% if @vehicles.present? %>
  <p><%= @total_count %> result(s)</p>
  <%= paginate @vehicles %>
  <table>
    <thead>
      <tr>
        <th>Year</th>
        <th>Make</th>
        <th>Model</th>
        <th>Model Series</th>
        <th>Color</th>
        <th>Size (Type)</th>
        <th>Price</th>
        <th>Mileage</th>
        <th>City</th>
        <th>State</th>
      </tr>
    </thead>

    <tbody id="vehicles">
      <%= render partial: 'vehicles/vehicle', collection: @vehicles %>
    </tbody>
  </table>
  <%= paginate @vehicles %>
<% else %>
  <p> Nothing to show </p>
<% end %>
